# Latex intermediate and output files
aux
*.aux
*.acn*
*.acr*
*.alg*
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.loge
*.lot
*.mw
*.nlo
*.nls
*.pdf
*.synctex*
*.toc
*.xmpi
!main.pdf
.DS_Store
